<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        .increaseNum{
            display:block;
            width:100px; height:100px; overflow:hidden;
            background-color:red;
        }
        .sh{ width:100px; height:100px; background-color:#ccc;}
    </style>
    <script type="text/javascript" src="../plugins/angular/angular.js"></script>
    <script type="text/javascript">
        //一个应用程序可以有多个controller
        var _app = angular.module('app', []);
    </script>
</head>
<body>
<!-- 过滤器 -->
<div ng-controller="ngFilter">
    <div>{{maps.num|currency}}</div>
    <div>{{maps.num|currency:'￥'}}</div>
    <br/>
    <br/>
    <br/>
    <div ng-repeat="man in maps.list">{{man.name}}</div>
    <div ng-repeat="man in maps.list">{{man}}</div>
    <div ng-repeat='man in maps.list|filter:"a"'>{{man.name}}</div>
    <div>{{maps.list|filter:"a"}}</div>
    ----------
    <div>{{maps.list|filter:"a"|orderBy:"age":true}}</div>
    <br/>
    <br/>
    <br/>
    <div ng-repeat="key in maps.list|orderBy:'age'">{{key}}</div>
    <div>{{m|currency:'a':5}}</div>
    <div>{{str|uppercase}}</div>
    <div>{{str|lowercase}}</div>
    <div>{{json|json}}</div>
    <div>{{date}}</div>
    
</div>
<div ng-controller="customFilter">
    <div>自定一个过滤器，用于过滤后显示数组中的所有偶数：{{arr|oddItem}}</div>
</div>
<script type="text/javascript">
    //4．filter过滤器
    /**
     * 过滤器（filter）正如其名，作用就是接收一个输入，通过某个规则进行处理，
     * 然后返回处理后的结果。主要用在数据的格式化上，例如获取一个数组中的子集，
     * 对数组中的元素进行排序等。ng内置了一些过滤器，它们是：currency(货币)、
     * date(日期)、filter(子串匹配)、json(格式化json对象)、limitTo(限制个数)、
     * lowercase(小写)、uppercase(大写)、number(数字)、orderBy(排序)。
     * 总共九种。除此之外还可以自定义过滤器，这个就强大了，可以满足任何要求的数据处理。
     *
     * 过滤器的内容非常简单，只要明白了内置的如何使用，
     * 自己如何定义一个filter就OK了~今天系统的学习了下，下面做个介绍。
     */

    /**
     * filter的两种使用方法
     * 1、在模板中使用filter
     * 我们可以直接在{{}}中使用filter，跟在表达式后面用 | 分割，语法如：{{ expression | filter }}
     * <div>{{maps.num|currency}}</div>
     *
     *
     * 也可以多个filter连用，上一个filter的输出将作为下一个filter的输入（怪不得这货长的跟管道一个样。。）
     * {{ expression | filter1 | filter2 | ... }}
     *
     *
     * filter可以接收参数，参数用 : 进行分割，如：{{ expression | filter:argument1:argument2:... }}
     * <div>{{maps.num|currency:'￥'}}</div>
     * <div>{{maps.list|filter:"a"|orderBy:"age"}}</div>
     *
     *
     * 除了对{{}}中的数据进行格式化，我们还可以在指令中使用filter，例如先对数组array进行过滤处理，然后再循环输出：
     * <div>{{maps.list|orderBy:"age"}}</div>
     *
     * 2. 在controller和service中使用filter
     * 我们的js代码中也可以使用过滤器，方式就是我们后面要学的依赖注入，
     * 例如我要在controller中使用currency过滤器，只需将它注入到该controller中即可，代码如下：
     * app.controller('ngFilter',function($scope,currencyFilter){
     *      $scope.num = currencyFilter(123534);
     * }
     */
    _app.controller("ngFilter",function($scope,$filter){
        $scope.maps={
            "num":100,
            "list":[{
                "name":"zhangsan",
                "age":3
            },{
                "name":"lisi",
                "age":8
            },{
                "name":"wangwu",
                "age":5
            },{
                "name":"zhaoliu",
                "age":1
            }],
        }
        $scope.m=100;
        $scope.date=$filter("date")(new Date(),'yyyy-MM-dd hh:mm:ss EEEE');
        $scope.str="abcdefg";
        $scope.json=[{"aa":"abcdefg"},{"a":"das"}];

        $scope.money=$filter("currency")(1890,"￥");//在controller和service中使用filter
    });


    /**
     * ng的内置过滤器：共九种
     * 1. currency (货币处理) 使用currency可以将数字格式化为货币，默认是美元符号，你可以自己传入所需的符号，例如我传入人民币：
     * {{num | currency : '￥'}}
     *
     *
     * 2. date (日期格式化)原生的js对日期的格式化能力有限，ng提供的date过滤器基本可以满足一般的格式化要求。用法如下：
     * {{date | date : 'yyyy-MM-dd hh:mm:ss EEEE'}}
     *
     *
     * 3. filter(匹配子串)
     * 这个名叫filter的filter（不得不说这名字起的，真让人容易混淆——！）用来处理一个数组，
     * 然后可以过滤出含有某个子串的元素，作为一个子数组来返回。可以是字符串数组，也可以是对象数组。
     * 如果是对象数组，可以匹配属性的值。它接收一个参数，用来定义子串的匹配规则。
     * 下面举个例子说明一下参数的用法，我用现在特别火的几个孩子定义了一个数组：
     *
     *
     *
     * 4. json(格式化json对象)
     * json过滤器可以把一个js对象格式化为json字符串，没有参数。这东西有什么用呢，我一般也不会在页面上输出一个json串啊，
     * 官网说它可以用来进行调试，嗯，是个不错的选择。或者，也可以用在js中使用，
     * 作用就和我们熟悉的JSON.stringify()一样。用法超级简单：
     * {{ jsonTest | json}}
     *
     *
     * 5. limitTo(限制数组长度或字符串长度)
     * limitTo过滤器用来截取数组或字符串，接收一个参数用来指定截取的长度，如果参数是负值，则从数组尾部开始截取。
     * {{ childrenArray | limitTo : 2 }}  //将会显示数组中的前两项
     *
     *
     * 6. lowercase(小写)
     *
     *
     * 7. uppercase(大写)
     *
     *
     * 8. number(格式化数字)
     * number过滤器可以为一个数字加上千位分割，像这样，123,456,789。同时接收一个参数，可以指定float类型保留几位小数：
     * {{ num | number : 2 }}
     *
     *
     * 9. orderBy(排序)
     * orderBy过滤器可以将一个数组中的元素进行排序，接收一个参数来指定排序规则，参数可以是一个字符串，
     * 表示以该属性名称进行排序。可以是一个函数，定义排序属性。
     * 还可以是一个数组，表示依次按数组中的属性值进行排序（若按第一项比较的值相等，再按第二项比较），
     * 还是拿上面的孩子数组举例：
     * <div>{{ childrenArray | orderBy : 'age' }}</div>      //按age属性值进行排序，若是-age，则倒序
     * <div>{{ childrenArray | orderBy : orderFunc }}</div>   //按照函数的返回值进行排序
     * <div>{{ childrenArray | orderBy : ['age','name'] }}</div>  //如果age相同，按照name进行排序
     */





    /**
     * 自定义过滤器:
     * filter的自定义方式也很简单，使用module的filter方法，返回一个函数，该函数接收输入值，并返回处理后的结果。
     * 话不多说，我们来写一个看看。比如我需要一个过滤器，它可以返回一个数组中下标为奇数的元素，代码如下：
     */
    _app.controller("customFilter",function($scope){
        $scope.arr=[1,2,3,4,5,6];
    });
    _app.filter('oddItem',function(){
        return function(inputArray){
            var array = [];
            for(var i=0;i<inputArray.length;i++){
                if(i%2!==0){
                    array.push(inputArray[i]);
                }
            }
            return array;
        }
    });
    /**
     * 格式就是这样，你的处理逻辑就写在内部的那个闭包函数中。
     * 你也可以让自己的过滤器接收参数，参数就定义在return的那个函数中，作为第二个参数，或者更多个参数也可以。
     */
</script>

</body>
</html>